<div class='modal fade' id='backgroundModal' tabindex='-1' aria-labelledby='backgroundModalLabel' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='backgroundModalLabel'>Choose Background Image</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body backgroundBody'>
                <div class='scrollable-images'>
                    <div class='row g-1'>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg1.jpg'>
                                <img src='/images/backgroundImg1.jpg' class='img-thumbnail' alt='Background Image 1'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg2.jpg'>
                                <img src='/images/backgroundImg2.jpg' class='img-thumbnail' alt='Background Image 2'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg3.jpg'>
                                <img src='/images/backgroundImg3.jpg' class='img-thumbnail' alt='Background Image 3'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg4.jpg'>
                                <img src='/images/backgroundImg4.jpg' class='img-thumbnail' alt='Background Image 4'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg5.jpg'>
                                <img src='/images/backgroundImg5.jpg' class='img-thumbnail' alt='Background Image 5'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg6.jpg'>
                                <img src='/images/backgroundImg6.jpg' class='img-thumbnail' alt='Background Image 6'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg7.jpg'>
                                <img src='/images/backgroundImg7.jpg' class='img-thumbnail' alt='Background Image 7'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg8.jpg'>
                                <img src='/images/backgroundImg8.jpg' class='img-thumbnail' alt='Background Image 8'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg9.jpg'>
                                <img src='/images/backgroundImg9.jpg' class='img-thumbnail' alt='Background Image 9'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg10.jpg'>
                                <img src='/images/backgroundImg10.jpg' class='img-thumbnail' alt='Background Image 10'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg11.jpg'>
                                <img src='/images/backgroundImg11.jpg' class='img-thumbnail' alt='Background Image 11'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg12.jpg'>
                                <img src='/images/backgroundImg12.jpg' class='img-thumbnail' alt='Background Image 12'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg13.jpg'>
                                <img src='/images/backgroundImg13.jpg' class='img-thumbnail' alt='Background Image 13'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg14.jpg'>
                                <img src='/images/backgroundImg14.jpg' class='img-thumbnail' alt='Background Image 14'>
                            </button>
                        </div>
                        <div class='col-4'>
                            <button type='button' class='btn btn-link bg-btn' data-img='../images/backgroundImg15.jpg'>
                                <img src='/images/backgroundImg15.jpg' class='img-thumbnail' alt='Background Image 15'>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
            </div>
        </div>
    </div>
</div>
