<div class="modal fade" id="addDiaryModal" tabindex="-1" aria-labelledby="addDiaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDiaryModalLabel">Add Diary Entry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Content goes here -->
          <div class="col-lg-12">
            <!-- Diary Entry -->
            <div class="d-flex flex-row align-items-center">
              <!-- Date input -->
              <div class="form-group mb-0 me-3 w-100">
                <label for="modalDiaryDate" class="me-1">Date:</label>
                <input type="date" class="form-control form-control-sm" id="modalDiaryDate" value="<?php echo date('Y-m-d'); ?>">
              </div>
              <!-- Checkboxes for actions -->
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="modalWaterCheckbox">
                <label class="form-check-label" for="modalWaterCheckbox">Water</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="modalMistCheckbox">
                <label class="form-check-label" for="modalMistCheckbox">Mist</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="modalFertilizeCheckbox">
                <label class="form-check-label" for="modalFertilizeCheckbox">Fertilize</label>
              </div>
            </div>
            <!-- Textarea for diary content -->
            <div class="form-group mt-3 w-100">
              <label for="modalDiaryContent">Diary Content</label>
              <textarea class="form-control" id="modalDiaryContent" rows="5"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="id" id="id">
            <input type="hidden" name="action" id="action" value="Add"> 
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveDiaryBtn">Save Diary</button>
        </div>
      </div>
    </div>
  </div>
  