</main>
</body>

<footer class="footer bg-dark text-light">
    <div class="container ">
        <div class="row justify-content-evenly">
            <div class="col-md-5 mt-3 footerSubClass">
                <h5>About the App</h5>
                <p>We value your experience with Plant Diary and are committed to continuously improving our app to better meet your needs. Your feedback is invaluable in shaping the future of our platform. </p>
            </div>
          
            <div class="col-md-5 mt-3 footerSubClass">
                <h5>Contact</h5>
                <p >Email: jameszhao1021@gmail.com</p>
                <p>Phone: 0403248168</p>
            </div>
        </div>
    </div>
</footer>

</html>