@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(15, 195, 30, 0.227);
  background-image: url('../images/backgroundImg1.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
}

.modal-body .img-thumbnail {
  width: 150px; /* Set the desired width */
  height: 80px; /* Set the desired height */
}

.modal-body.backgroundBody{
  overflow-y: auto;
  min-height: 200px;
  max-height: 20vh; /* Adjust 200px to match your modal header and footer heights */
}
/* .container.mainList{
  margin: 0;
  width:2500px;
} */
.dataPart {
  width: 20%; /* Set the width of each td to 20% (adjust as needed) */
}
.column-width {
  width: 20%; /* Adjust the width as per your requirement */
}


.editDateInput{
  padding-left:5px;
  padding-right:0;
}

.listTd>button{
  padding-left:3px;
  padding-right:3px;
  
}

table{
  width:100%;
  opacity: 0.9;
  font-size: 25px;
}


.navbar{
  opacity: 0.9;
  font-size: 20px;
}

#change_background{
  columns: #fff;
  background-color: transparent;

}

.nav-link:hover {
  transform: scale(1.1); /* Scale up to 1.2 when hovered */
  transition: all 0.1s ease-in;
}

.nav-item{
  padding-left: 10px;
}

#add_data, #edit_data, #delete_data, .saveButton, .cancelButton{
  background-color: white;
  opacity: 0.9;
  padding:2px;
  margin-top: 30px;
  margin-bottom: 5px;
}

#edit_data, .saveButton{
  margin-right: 10px;
}

footer{
  opacity:0.9;
  max-height: 20vh;
  font-size: 15px;
}

.footerSubClass{
  
  width:30%;
  text-align: justify;
}


#plantTitle{
  font-family: "Abril Fatface", serif, Arial;
  font-weight: 600;
  font-style:normal;
  font-size: 60px;
  color: #e9e7e7; /* Fill color */
  
  -webkit-text-stroke: 0.8px #000; /* For Chrome, Safari, Opera */
  text-stroke: 0.8px #000; /* Standard syntax */
    

}

.container.detialList{
   margin-top:10px;
}


@media (max-width: 770px) {
  /* CSS rules to apply when window width is less than 770px */
  /* For example, you can adjust font sizes, margins, padding, etc. */
  .footerSubClass {
    width:50%;
  }

}

@media (max-width: 685px) {
  /* CSS rules to apply when window width is less than 770px */
  /* For example, you can adjust font sizes, margins, padding, etc. */
   body{
    padding-left:20px;
    padding-right:20px;
   }
   input[type="date"] {
    width:70px;
   }
}

@media (max-width: 520px) {
  /* CSS rules to apply when window width is less than 770px */
  /* For example, you can adjust font sizes, margins, padding, etc. */
   body{
    padding-left:5px;
    padding-right:5px;
   }
   input[type="date"] {
    width:50px;
   }
}

@media (max-width: 445px) {
  /* CSS rules to apply when window width is less than 770px */
  /* For example, you can adjust font sizes, margins, padding, etc. */
  footer {
    display: none;

  }
   .container.mainList{
    width:100%;
    padding:0;
   }
   body{
    padding-left:0;
    padding-right:0;
   }
   input[type="date"] {
    width:50px;
   }
}