<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<!-- logout feature -->

  <!-- back to home page -->


<form action="/<%= user.name.split(" ")[0] %>/detail" method='POST' >
<label>Light</label>
<select name="light" id="light">
    <option value="low-moderate">low-moderate</option>
    <option value="bright">bright</option>
    <option value="indirect">indirect</option>
    <option value="direct">direct</option>
</select>

<label>Water</label>
<select name="water" id="water">
    <option value="low">low</option>
    <option value="low-moderat">low-moderat</option>
    <option value="moderate">moderate</option>
    <option value="moderate-high">moderate-high</option>
    <option value="high">high</option>
    <option value="misting">misting</option>
</select>

<label>Soil</label>
<select name="soil" id="soil">
    <option value="well-draining">well-draining</option>
    <option value="moisture-retaining">moisture-retaining</option>
    <option value="sandy">sandy</option>
    <option value="none">none</option>
</select>

<input type="submit" value="Create Detail">
</form>
<%- include('../partials/footer') %>
<script>
$(document).ready(function() {
  // Load selected background image from Local Storage and apply it
  const selectedBackground = localStorage.getItem('selectedBackground');
  if (selectedBackground) {
      $('body').css('background-image', 'url(' + selectedBackground + ')');
  }
});
</script>